<!DOCTYPE html>
<html lang="en">
<head>
    <!--
* Author : Ech0
* Email  : ech0.extreme@foxmail.com
* Time   : 05/01/2018 04:28 PM
*-->
    <meta charset="UTF-8">
    <title>Examing ... </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--lib-->
    <script src="../../lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../lib/bootstrap/bootstrap.css">
    <script src="../../lib/bootstrap/popper.js"></script>
    <script src="../../lib/bootstrap/bootstrap.js"></script>
    <script src="../../lib/echarts/echarts.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!--sweetalert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.bootcss.com/store.js/1.3.20/store.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <!--icheck-->
    <script src="https://cdn.bootcss.com/iCheck/1.0.2/icheck.js"></script>
    <link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/all.css" rel="stylesheet">
    <!--file-input-->
    <link rel="stylesheet" href="../../lib/fileinput/fileinput.css">
    <link rel="stylesheet" href="../../lib/fileinput/theme.css">
    <script src="../../lib/fileinput/piexif.js"></script>
    <script src="../../lib/fileinput/fileinput.js"></script>
    <script src="../../lib/fileinput/zh.js"></script>
    <script src="../../lib/fileinput/theme.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


    <script src="../../js/constant.js"></script>
    <script src="../../js/common.js"></script>

    <!--todo modify-->
    <link rel="stylesheet" href="../../css/custom.css">
</head>
<body>
<canvas id="Mycanvas" style="z-index: -999;position: absolute"></canvas>
<div class="container">
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">
        <div class="container">
            <a href="../index.html" class="navbar-brand">EETU-Exam</a>
            <!--菜单按钮-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="" navbarResponsive aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--菜单-->
            <div class="collapse navbar-collapse text-center" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <!--分类下拉框-->
                    <li class="nav-item dropdown ">
                        <div class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown"><span
                                id="searchOption" class="pl-2" data-category-code="6">所有题库</span> <span
                                class="caret"></span></div>
                        <div class="dropdown-menu ">
                            <!--fixed category -->
                            <div class="search-option dropdown-item" data-category-code="0"><i
                                    class="fas fa-terminal"></i>编程语言
                            </div>
                            <div class="search-option dropdown-item" data-category-code="1"><i
                                    class="fas fa-chart-bar"></i></i>算法
                            </div>
                            <div class="search-option dropdown-item" data-category-code="2"><i
                                    class="fab fa-stumbleupon-circle"></i>数据结构
                            </div>
                            <div class="search-option dropdown-item" data-category-code="3"><i
                                    class="fab fa-app-store"></i>数学和逻辑
                            </div>

                            <div class="search-option dropdown-item" data-category-code="4"><i
                                    class="fab fa-connectdevelop"></i>计算机基础
                            </div>
                            <div class="search-option dropdown-item" data-category-code="5"><i class="fas fa-code"></i>软件开发
                            </div>
                            <hr>
                            <div class="search-option dropdown-item"><i class="fas fa-random"
                                                                        data-category-code="6"></i>所有题库
                            </div>
                        </div>
                    </li>
                    <li class="nav-item ml-3 ">
                        <!--搜索框-->
                        <form class="form-inline mt-2 mt-md-0 ">
                            <input id="search-keyword" class="form-control mr-sm-2" type="text" placeholder="">
                        </form>
                    </li>
                    <li class="nav-item ml-3 ">
                        <div id="search-btn" class="search-btn btn btn-secondary btn-block  my-2 my-sm-0"><i
                                class="h5  mr-1 fas fa-search-plus"></i></div>
                    </li>
                </ul>
                <div id="login-links">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../login.html#1" target="_top">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../login.html#2" target="_top">注册</a>
                        </li>
                    </ul>
                </div>
                <!--已经登录-->
                <div id="personal-links" class="d-none ">
                    <div class="nav navbar-nav mr-auto ">
                        <div class="nav-item mr-3">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    <img id="nav-head-img" class="rounded-circle"
                                         src="http://p7vng16qv.bkt.clouddn.com/04035c2b-5c7b-49dc-8b2e-8f818f78ae29"
                                         style="max-width: 2rem">
                                </button>
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href=CONTEXT+'page/personal/index.html'">
                                    个人中心
                                </button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                        <a class="dropdown-item" href="#"><i class="fas fa-heart"></i>题目收藏</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-book"></i>刷题记录</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-terminal"></i>我的简历</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item ">
                            <div class="nav-link btn " onclick="logout()">退出
                                <i class=" pl-2 h5 fas fa-sign-out-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3 ">
        <div class="row">
            <!--todo -->
            <div class="w-100 ">
                <div class="progress mt-4">
                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
            </div>
            <!--题目-->
            <div id="question-container" class="row  mt-5  pt-3 pb-5 border rounded w-100">
                <!--title-->
                <div class="col-10 offset-1  d-flex vcenter">
                    <input id="type" type="hidden" :value="question.type">
                    <span id="seq" class="badge badge-pill badge-danger">{{ question.seq | seqFilter  }}</span>
                    <span class=" badge badge-dark ">{{ question.type | typeFilter }}</span>
                    <data id="question-id" class="d-none">{{ question.id }}</data>
                    <h5 class="font-weight-bold text-secondary d-inline-block mt-4">{{ question.title }}
                    </h5>
                </div>
                <!--title-img-->
                <div v-if="hasTitleImg" v-for="img in question.titleImgs " class="col-12 offset-2 pt-3 ">
                    <img :src="img" class="img-thumbnail d-block">
                </div>
                <!--options-->
                <div class="col-12 col-md-10 offset-md-2 text-left pt-2">
                    <div v-for="(value, key) in question.choices"
                         class="btn-group-vertical btn-group-toggle pt-2 pb-2  w-75 " data-toggle="buttons">
                        <label :data-type="question.type" :id="key.toLowerCase()"
                               class="option text-left btn btn-outline-primary rounded  border-0 pb-2"
                               onclick="handleChoice(this)">
                            <input type="checkbox" name="options" autocomplete="off">
                            <span class="choice-option badge badge-pill badge-info mr-5 text-uppercase">
                                {{ key }}</span>{{ value }}
                        </label>
                    </div>
                </div>
                <!--填空题-->
                <div v-if="isGapFilling" class="col-10 offset-1 pt-4">
                    <hr>
                    请输入填空题答案
                    <small>（多个空之间以逗号分隔）</small>
                </div>
                <div v-if="isGapFilling" class="col-10 offset-1 pt-4">
                    <input id="gap_filling_answer" type="text" class="p-3 form-control w-100">
                </div>
                <!--问答题或者编程题-->
                <div v-if="isAsk" class="col-10 offset-1 pt-4">
                    <hr>
                    请输入问答题答案
                    <small>（请使用英文标点符号）</small>
                </div>
                <div v-if="isAsk" class="col-10 offset-1 pt-4">
                    <textarea id="ask_answer" class="form-control w-100  h4 p-4" style="min-height: 16rem"></textarea>
                </div>
            </div>
            <!--题目索引-->

            <div id="questions-seq" class="col-12  pt-4 ml-5 ">
                <span class="btn btn-dark mr-3 disabled">题号：</span>
                <span v-for="seq in seqs " :seq="seq"
                      class="question-index mr-3 btn btn-outline-dark ">{{ seq + 1 }}</span>

            </div>
            <div class="w-100">
                <hr>
                <span class="btn-success btn float-right mr-3" onclick="saveAnswer()">下一题</span>
                <span class="btn-danger btn float-right mr-3" onclick="submitAnswer()">交卷</span>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-3 text-muted text-center">
        <hr>
        &copy; 2018 <span class="h5 text-danger font-weight-bold">EETU</span> Examination System &nbsp;
        <div>Power by <a class="text-success" href="http://echo0.cn "> eetn.echo0.cn </a></div>
    </div>
</div>
</body>
<script>

</script>
<script src="../../js/animation.js"></script>
<script src="../../js/exam.js"></script>
<script>

    /**
     * 试卷答案
     * @type {ExamAnswer}
     */
    var examAnswer = new ExamAnswer();
    examAnswer.answers = new Array();
    /**
     * 选择题答案
     * @type {Array}
     */
    var choiceAnswer = new Array();

    /**
     * 保证单选效果
     * @param ele
     */
    function handleChoice(ele) {
        var $ele = $(ele);
        var type = $ele.attr("data-type");
        if (type == 0) {
            $(".option").removeClass("active");
            setTimeout(function () {
                $ele.addClass("active");
            }, MICRO_DELAY)
        }
    }

    function saveAnswer() {
        var answer = new AnswerItem();
        answer.seq = $("#seq").text() - 1;
        answer.questionId = $("#question-id").text();
        var type = $("#type").val();
        console.log("current type is " + type);

        switch (type - 0) {
            // 填空
            case 2 :
                answer.answer = $("#gap_filling_answer").val().trim().split(",");
                break;
            // 问答
            case 3 :
                answer.answer = $("#ask_answer").val().trim();
                break;
            // 编程
            case 4 :
                answer.answer = $("#ask_answer").val().trim();
                break;
            // 选择题
            default :
                $(".option").each(function (index, ele) {
                    if ($(ele).hasClass("active")) {
                        console.log(ele);
                        choiceAnswer.push($(ele).children("span").text().trim())
                    }
                })
                answer.answer = choiceAnswer;
                choiceAnswer = new Array();

        }
        examAnswer.answers[answer.seq] = answer;
        console.log(examAnswer);
        console.log(answer);
        simpleSuccessInfo("保存成功！");
//        switch title
        var seq = $("#seq").text() - 0 ;
        console.log(seq);
        $("[seq=" + seq+"]").click();


    }

    var v_data = new Vue({
        el: '#question-container',
        data: {
            question: "",
            hasTitleImg: false,
            hasAnswerImg: false,
            isGapFilling: false,
            isAsk: false
        }
    });

    function submitAnswer() {
        // store
        store.set(EXAM_ANSWER, examAnswer);
        window.location.href = CONTEXT + "page/exam/result.html";
    }

    $(function () {

        $(document).on("click", ".question-index", function () {
//            clear
            $(".option").removeClass("active");
            $("#gap_filling_answer").val("");
            $("#ask_answer").val("");
            var $this = $(this);
            $(".question-index").removeClass("active");
            $this.addClass("active");

//            set data
            v_data.question = handle(store.get(EXAM_PAPER_QUESIONS)[$this.text() - 1]);
            v_data.hasTitleImg = hasImgTitle(v_data.question);
            v_data.hasAnswerImg = hasImgAnswer(v_data.question);
            v_data.isGapFilling = isGapFilling(v_data.question);
            v_data.isAsk = isAsk(v_data.question);
            var sum = store.get(EXAM_PAPER_TITLE_NUM);
            var rate = ($this.text() - 0.0) / (sum) * 100;
            rate = "" + rate.toString().substr(0, 3) + "%";
            $("#progress-bar").css("width", rate);

//            show saved answer
            var savedAnswer = examAnswer.answers[$this.text() - 1];
            console.log(savedAnswer);

            if ("undefined" != typeof savedAnswer) {
                setTimeout(function () {
                    //选择
                    try {
                        savedAnswer.answer.forEach(function (t) {
                            $("#" + t).addClass("active");
                            console.log(t);
                        });
                    } catch (e) {
                        console.log(e);
                    }
                    //填空
                    try {
                        $("#gap_filling_answer").val(savedAnswer.answer.join(","));
                    } catch (e) {
                        console.log(e);
                    }
                    //其他
                    try {
                        $("#ask_answer").val(savedAnswer.answer);
                    } catch (e) {
                        console.log(e);
                    }
                }, MICRO_DELAY);

            }

            console.log();
        });

        var currentUser = store.get(CURRENT_USER);
        try {
            if (currentUser.userName) {
                console.log("current user : " + currentUser.userName);
                $("#login-links").addClass("d-none");
                $("#personal-links").removeClass("d-none");
            }
        } catch (e) {
            console.log("请登录 !");
            setTimeout(function () {
                window.location.href = CONTEXT + "page/login.html";
            }, LONG_DELAY);
        }

        var v_seq = new Vue({
            el: '#questions-seq',
            data: {
                seqs: '',

            }
        })
        startExam(v_data, v_seq);


    });

    // 获取试卷信息,开始考试
    function startExam(data, seq) {
        var examPaperId = store.get(EXAM_PAPER_ID);
        if ("undefined" == typeof examPaperId) {
            simpleErrorInfo("试卷不存在 ！");
            return;
        }

        const params = new URLSearchParams();
        params.append("examPaperId", examPaperId);
        instance.post("/exam/startExam", params).then(function (response) {
            console.log(response.data.desc);
            if (response.data.code == 0) {
                simpleSuccessInfo("ヽ(￣▽￣)و，请开始你的表演！");
                // 将试题信息存入storage
                store.set(EXAM_PAPER_TITLE_NUM, response.data.data.titleNum);
                store.set(EXAM_PAPER_DURATION, response.data.data.maxExamDuration);
                store.set(EXAM_PAPER_QUESIONS, response.data.data.questions);
                store.set(EXAM_TITLE, response.data.data.title);
                store.set(EXAM_RECORD_ID, response.data.data.examRecordId);
                data.question = handle(store.get(EXAM_PAPER_QUESIONS)[0]);
                data.hasTitleImg = hasImgTitle(data.question);
                data.hasAnswerImg = hasImgAnswer(data.question);
                data.isGapFilling = isGapFilling(data.question);
                data.isAsk = isAsk(data.question);

//                init
                examAnswer.examPaperId = store.get(EXAM_PAPER_ID);
                examAnswer.examRecordId = store.get(EXAM_RECORD_ID);

                var seqs = new Array();
                for (i = 0; i < store.get(EXAM_PAPER_TITLE_NUM); i++) {
                    seqs.push(i);
                }
                seq.seqs = seqs;
                console.log(seqs)
                console.log(seq)
            } else {
                simpleErrorInfo(response.data.desc);
                if (response.data.code == RESPONSE_CODE.NO_LOGIN) {
                    setTimeout(function () {
                        window.location.href = "../login.html";
                    }, MIDDLE_DELAY);
                }
            }
        }).catch(function (error) {
            console.log(error);
        });


    }


</script>
</html>